body {
  font-family: 'Noto Sans Thai', sans-serif !important;
}

.vid-browser {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.vid-browser > video {
  opacity: 0;
  object-fit: fill;
}
.vid-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 4px 4px;
}
.browser-content {
  font-size: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.browser-mockup {
  /* Pure CSS browser mockups: https://gist.github.com/jarthod/8719db9fef8deb937f4f */
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 4px;
}
.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #fb5, 3em 0 0 2px #9b3;
}
.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 3px;
  background-color: white;
}
.browser-mockup > * {
  display: block;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.checkbox {
  /* https://codepen.io/Umer_Farooq/pen/eYJgKGN */
  opacity: 0;
  position: absolute;
}
.checkbox-label {
  background-color: #333;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}
